<div id="orderHtml">
    <div class="row mt-3">
      <div class="col-2">
        <label class="form-label">Lọc từ ngày:</label>
        <input type="date" class="form-control form-control-sm" ng-model="startDate">
      </div>
      <div class="col-2">
          <label class="form-label">Đến ngày:</label>
          <div class="input-group">
              <input type="date" class="form-control form-control-sm" ng-model="endDate">
              <button class="btn btn-sm btn-dark" ng-click="clickDate()">Chọn</button>
          </div>
      </div>
        <div class="col-5">
          <label class="form-label">Tìm kiếm:</label>
          <div class="input-group">
            <div class="col-3">
              <select id="selectedSearch" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="0" selected>Order No</option>
                <option value="1">Username</option>
              </select>
            </div>
            <input type="text" ng-keyup="searchOrder()" ng-model="searchValue" class="form-control form-control-sm" placeholder="Nhập để tìm kiếm">
          </div>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Order No</th>
            <th scope="col">Username</th>
            <th scope="col">Order Date</th>
            <th scope="col">Address</th>
            <th scope="col text-center">#</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="list in listOrder">
            <td scope="row">{{$index + 1}}</td>
            <td>{{list.id}}</td>
            <td>{{list.account.username}}</td>
            <td>{{list.createDate | date : 'dd/MM/yyyy'}}</td>
            <td>{{list.address}}</td>
            <td>
              <button class="btn btn-sm btn-success" ng-click="orderDetail(list.id)">
                 Chi tiết
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" style="cursor: pointer;" ng-click="prevPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link">{{currentPage+1}} /
              {{totalPages}}</a></li>
            <li class="page-item">
              <a class="page-link" style="cursor: pointer;" ng-click="nextPage()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
</div>
<div id="orderDetailHtml" style="display: none;" class="mt-5">
  <button class="btn btn-sm btn-primary" ng-click="backToListOrder()"> <i class="fa-solid fa-chevron-left"></i> Quay lại</button>
  <div class="row mt-5">
     <div class="col-4">
      <h4>Order</h4>
      <hr>
            <div class="row">
                <div class="col-6">
                  <Label class="form-label">Order No</Label>
                  <input type="text" ng-model="order.id" class="form-control" disabled>
                </div>
                <div class="col-6">
                  <Label class="form-label">Order Date</Label>
                  <input type="text"   ng-model="order.createDate" class="form-control" disabled>
                </div>
                <div class="col-12 mt-3">
                  <Label class="form-label">Username</Label>
                  <input type="text"  ng-model="order.account.username" class="form-control" disabled>
                </div>
                <div class="col-12 mt-3">
                  <Label class="form-label">Address</Label>
                  <textarea class="form-control" cols="20" rows="4" ng-model="order.address" disabled></textarea>
                </div>
                <div class="col-6">
                  <Label class="form-label">Status</Label>
                  <label class="form-label">Order Status</label>
                    <select class="form-select" ng-model="order.status" ng-options="status for status in statusOptions" ng-change="update()">
                    </select>
                    <!-- <input type="text" ng-model="order.status" class="form-control" disabled> -->
                </div>
                <div class="col-6">
                  <Label class="form-label">Total</Label>
                  <input type="text" ng-model="order.total" class="form-control" disabled>
                </div>
            </div>
     </div>
     <div class="col-8">
      <h4>Order Detail</h4>
      <hr>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="list in detailOrder">
            <td scope="row">{{list.id}}</td>
            <td>{{list.product.name}}</td>
            <td>{{list.price | currency : ' $'}}</td>
            <td>{{list.quantity}}</td>
            <td>{{list.price * list.quantity | currency : '$ '}}</td>
          </tr>
        </tbody>
      </table>
     </div>
  </div>
  <br><br><br><br>
</div>